@font-face {
    font-family: 'bikobold';
    src: url('font/biko_bold-webfont.eot');
    src: url('font/biko_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/biko_bold-webfont.woff2') format('woff2'),
         url('font/biko_bold-webfont.woff') format('woff'),
         url('font/biko_bold-webfont.ttf') format('truetype'),
         url('font/biko_bold-webfont.svg#bikobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bikoregular';
    src: url('font/biko_regular-webfont.eot');
    src: url('font/biko_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/biko_regular-webfont.woff2') format('woff2'),
         url('font/biko_regular-webfont.woff') format('woff'),
         url('font/biko_regular-webfont.ttf') format('truetype'),
         url('font/biko_regular-webfont.svg#bikoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lecker';
    src: url('font/leckerlione-regular-webfont.eot');
    src: url('font/leckerlione-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/leckerlione-regular-webfont.woff2') format('woff2'),
         url('font/leckerlione-regular-webfont.woff') format('woff'),
         url('font/leckerlione-regular-webfont.ttf') format('truetype'),
         url('font/leckerlione-regular-webfont.svg#leckerlioneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body,html,ul{
    margin: 0 0;
}
body,html{
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
    background-image:url('img/motif_fond.jpg');
}
nav{
    position: absolute;
    width: 100%;
}
ul{
    min-width: 640px;
    width: 100%;
    background-color: rgba(255,255,255,0.40);
    height: 50px;
    text-align: center;
    margin: 0 0;
    padding: 0;
}
li{
    display: inline-block;
    font-family: 'bikoregular';
    font-size: 22px;
    height: 50px;
    line-height:50px;
}
li a{
    color: #546e7a;
    display: inline-block;
    width: 160px;
}
li a:hover{
    color: #ffab00;
    background-color: rgba(255,255,255,0.50);
}
a{
    text-decoration: none;
}
div{
    margin:0;
    padding: 0;
}
.bande{
-moz-box-shadow: 0px 5px 8px 0px #656565;
-webkit-box-shadow: 0px 5px 8px 0px #656565;
-o-box-shadow: 0px 5px 8px 0px #656565;
box-shadow: 0px 5px 8px 0px #656565;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=8);
}
.bande, .couleur{
    height: 10px;
}
.couleur{
    position: relative;
    top: -4px;
    display: inline-block;
    width: 16.66%;
}
.couleur:first-child{
    background-color:#FF5252;   
}
.couleur:nth-child(2){
    background-color:#E040FB;   
}
.couleur:nth-child(3){
    background-color:#40C4FF;   
}
.couleur:nth-child(4){
    background-color:#51BCAF;   
}
.couleur:nth-child(5){
    background-color:#64DD17;   
}
.couleur:last-child{
    background-color:#FFD600;   
}
.footer{
    -moz-box-shadow: 0px -2px 8px 0px #656565;
    -webkit-box-shadow: 0px -2px 8px 0px #656565;
    -o-box-shadow: 0px -2px 8px 0px #656565;
    box-shadow: 0px -2px 8px 0px #656565;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=90, Strength=8);
    height: 40px;
}
.footer a{
    width:100px;
    font-size: 20px;
}
